img {
  height: 700px;
  width: auto;
  border: 3px solid rgb(100, 62, 0);
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: burlywood;
}

h1,
h3 {
  font-family: Merriweather;
}

h1 {
  background-color: darkgoldenrod;
  padding: 10px;
  border: 3px solid rgb(100, 62, 0);
}

.homepage li {
  font-weight: 900;
  font-size: 40px;
}

h3 {
  background-color: chocolate;
  padding: 5px;
  border: 2px solid rgb(113, 27, 1);
}

ol,
ul {
  list-style: none;
}

.homepage li {
  margin: 40px;
}

li {
  margin: 15px;
}

.steps li {
  margin: 30px;
}

ol,
ul {
  padding-right: 40px;
  padding-left: 40px;
}

.homepage h1 {
  font-size: 70px;
  width: 50%;
}

.homepage img {
  width: 980px;
  height: auto;
  margin-right: -500px;
}

a {
  background-color: darkgoldenrod;
  border: 1px solid rgb(100, 62, 0);
}

.homepage a {
  border: 3px solid rgb(100, 62, 0);
}

a:hover {
  background-color: chocolate;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}

.container ul {
  background-image: url(/images/cooking.jpg);
  background-size: cover;
  /* height: 500px; */
}

.container ul:hover {
  border: 3px solid rgb(100, 62, 0);
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-page {
  display: flex;
  justify-content: space-between;
}

.recipe-page > div {
  flex: 1 1 0;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.side img {
  width: 98%;
}

.section{
  width: 100%;
  background-color: rgb(255, 153, 0);
}
