img {
  height: 400px;
  width: auto;
}

* {
  font-family: sans-serif;
  text-align: center;
  background-color: burlywood;
}

h1,
h3 {
  font-family: Merriweather;
}

h1 {
  background-color: darkgoldenrod;
}

a {
  font-weight: 900;
}

h3 {
  background-color: chocolate;
}

ol,
ul {
  list-style: none;
}
